<h2><%= @song.title %></h2>
by <strong><%= @song.artist_name %></strong>
<% if @song.released? %>
<br>
    Released in
    <strong><%= @song.release_year %></strong>
<br>
<% end %>

<br>
  <strong>Genre:</strong>
  <%= @song.genre %>
<br>

<%= link_to 'Edit', edit_song_path(@song) %>
<br>
<br>
<%= link_to 'All Songs', songs_path(@song) %>
